{% extends 'base.html' %}

{% block title %}Administrador{% endblock %}

{% block content %}
<h1>Administrador</h1>
<div class="home_div">

    <!-- Registrar -->
    <a href="enlaces/registros" class="btn btn-success">
        <img src="../../static/img/registrar.webp" alt="Imagen Manejador">Registrar Entidad</a>

    <!-- Ver -->
    <a href="enlaces/ver" class="btn btn-success">
        <img src="../../static/img/ver.png" alt="Imagen Manejador">Ver Entidades</a>

</div>
{% endblock %}