{% extends 'base.html' %}

{% block title %}Ver Admin{% endblock %}

{% block content %}
<div class="vista_div">
    <h2>Registros de Administradores</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Número de ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Username</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for registro in registros %}
            <tr>
                <td>{{ registro[0] }}</td>
                <td>{{ registro[1] }}</td>
                <td>{{ registro[2] }}</td>
                <td>{{ registro[3] }}</td>
                <td>{{ registro[4] }}</td>
                <td>{{ registro[5] }}</td>
                <td>{{ registro[6] }}</td>
                <td><a href="{{ url_for('actualizar_admi', id=registro[0]) }}">Editar</a></td>
                <td><a href="{{ url_for('eliminar_admi', id=registro[0]) }}"
                        onclick="return confirm('¿Estás seguro de que quieres eliminar este registro?');">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}